* {
    padding: 0;
    margin:0;
    }
div{
	border:1px solid red;
	
} 
    
ul {
    list-style:none;
    }
.float {
    float: left;
    }
.clear {
    clear: both;
    }
#container {
    width:960px;
    margin: auto;
    }
#header {
    background-color:#999999;
    height: 150px;
    }
#content {
    width: 660px;
    text-align: center;
     
    }
#sidebar_left {
    text-align: center;
    background-color:#CCCCCC;
    width: 150px;
    }
#sidebar_right {
    background-color:#CCCCCC;
    width: 90px;
    }
#footer {
    background-color:#999999;
    text-align:center;
    }